In [2]:
import pandas as pd

In [3]:
drinks = pd.read_table('/Users/scottshagory/Desktop/ga_hw/DAT-DC-10/data/drinks.csv', sep=',', index_col='country')

In [10]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

In [11]:
drinks.tail()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Venezuela,333,100,3,7.7,SA
Vietnam,111,2,1,2.0,AS
Yemen,6,0,0,0.1,AS
Zambia,32,19,4,2.5,AF
Zimbabwe,64,18,4,4.7,AF

In [12]:
drinks.shape

(193, 5)

In [13]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [16]:
drinks.index

Index([u'Afghanistan', u'Albania', u'Algeria', u'Andorra', u'Angola',
       u'Antigua & Barbuda', u'Argentina', u'Armenia', u'Australia',
       u'Austria',
       ...
       u'Tanzania', u'USA', u'Uruguay', u'Uzbekistan', u'Vanuatu',
       u'Venezuela', u'Vietnam', u'Yemen', u'Zambia', u'Zimbabwe'],
      dtype='object', name=u'country', length=193)

In [18]:
drinks.wine_servings.head()

country
Afghanistan      0
Albania         54
Algeria         14
Andorra        312
Angola          45
Name: wine_servings, dtype: int64

In [20]:
type(drinks.wine_servings)

pandas.core.series.Series

In [21]:
drinks.beer_servings.mean()

106.16062176165804

In [23]:
drinks.continent.value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: continent, dtype: int64

In [28]:
drinks[drinks.beer_servings < 20].beer_servings.head()

country
Afghanistan                  0
Bangladesh                   0
Central African Republic    17
Chad                        15
Comoros                      1
Name: beer_servings, dtype: int64

In [37]:
drinks[drinks.wine_servings < 100].wine_servings.head()

country
Afghanistan           0
Albania              54
Algeria              14
Angola               45
Antigua & Barbuda    45
Name: wine_servings, dtype: int64

In [40]:
drinks[drinks.continent =="EU"].continent.head()

country
Albania       EU
Andorra       EU
Armenia       EU
Austria       EU
Azerbaijan    EU
Name: continent, dtype: object

In [44]:
drinks[(drinks.continent =="EU") & (drinks.wine_servings > 300)].wine_servings

country
Andorra     312
France      370
Portugal    339
Name: wine_servings, dtype: int64

In [9]:
drinks[(drinks.continent =="EU")].beer_servings.mean()
#2nd 'function' is a column name that has no container.  Needs ()

193.77777777777777

In [22]:
drinks.sort[('total_litres_of_pure_alcohol', ascending=False) & (drinks.total_litres_of_pure_alcohol <40)].drinks.total_litres_of_pure_alcohol

TypeError: cannot compare a dtyped [bool] array with a scalar of type [bool]